/* CSS para pantallas grandes */
@media only screen and (min-width: 768px) {
  body {
    width: 80%;
  }
}

/* CSS para pantallas pequeñas */
@media only screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  section {
    flex-wrap: wrap;
  }
  button {
    height: 70px;
    width: 30px;
    font-size: 6px;
  }
  button:nth-child(even) {
    height: 50px;
    width: 20px;
  }
}

/* CSS para pantallas muy pequeñas */
@media only screen and (max-width: 479px) {
  button {
    height: 50px;
    width: 20px;
    font-size: 6px;
  }
  button:nth-child(even) {
    height: 30px;
    width: 10px;
  }
}
