body {
  background-color: #909090;
  
}

.menu{
  color: rgb(0, 0, 0);
}

a {
  color: orange;
}
p{
}
#slogan{
  font-weight: bolder;
}
a:hover {
  color: hotpink;
}
.example_extract {
  color: rgb(255, 94, 0);
  font-size: 1.5vw;
  display: inline-block;
  width: 20%;
  height: 20%;
  margin: 1.39%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 2%;
  opacity: 1;
  border-radius: 2%;
  box-shadow: 3px 3px 10px rgb(109, 58, 58);
  background: linear-gradient(to bottom, rgb(1, 1, 1) 0%, rgb(1, 1, 1) 0%, rgb(1, 1, 1) 0%, rgb(13, 13, 13) 1%, rgb(56, 56, 56) 8%, rgb(56, 56, 56) 8%, rgb(56, 56, 56) 8%, rgb(78, 78, 78) 9%, rgb(78, 78, 78) 9%, rgb(78, 78, 78) 9%, rgb(149, 149, 149) 49%, rgb(149, 149, 149) 51%, rgb(149, 149, 149) 51%, rgb(149, 149, 149) 54%, rgb(78, 78, 78) 89%, rgb(1, 1, 1) 100%, rgb(1, 1, 1) 100%, rgb(10, 10, 10) 100%, rgb(27, 27, 27) 100%);
}
.example_extract img {
  display: block;
  margin: auto; 
}

#example_list {
  border: 1px solid #3e2f2d;
  margin: 2%;
  padding: 2%;
}

#menu-principal {
  font-size: 1.5svw;
  color: rgb(0, 0, 0);
  background-color: #ccc;
  display: inline-block;
  width: 96%;
  height: 20%;
  opacity: 1;
  box-shadow: 3px 3px 10px rgb(109, 58, 58);
  padding: 2%;

}

#imagenariba{
  width: 100%;
}

nav {
  margin: 2%;
  padding: 2%;
}

footer {
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.boton_enviar {
  font-size: 2%;
  margin: 3%;
}

img{
  width: 60%;

}

.btn {
  background: #0016bd;
  background-image: -webkit-linear-gradient(top, #0016bd, #000a96);
  background-image: -moz-linear-gradient(top, #0016bd, #000a96);
  background-image: -ms-linear-gradient(top, #0016bd, #000a96);
  background-image: -o-linear-gradient(top, #0016bd, #000a96);
  background-image: linear-gradient(to bottom, #0016bd, #000a96);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



#copy {
  font-size: 1.5vw;
  width: 80%;
  padding: 2.5%;
  float: left;

}

#icons {
  width: 15%;
  display: inline-block;

}

.ico {
  display: inline-block;
width: 20%;
  }

.contacto{
  display: inline-block;

}

.formulario{
  font-size: 1vw;
  color:black;
  width: 93%;
  height: 20%;
  margin: 1.39%;
  padding: 2%;
  opacity: 1;
  border-radius: 2%;
  box-shadow: 3px 3px 10px rgb(109, 58, 58);
  background: linear-gradient(to bottom, rgb(1, 1, 1) 0%, rgb(1, 1, 1) 0%, rgb(1, 1, 1) 0%, rgb(13, 13, 13) 1%, rgb(56, 56, 56) 8%, rgb(56, 56, 56) 8%, rgb(56, 56, 56) 8%, rgb(78, 78, 78) 9%, rgb(78, 78, 78) 9%, rgb(78, 78, 78) 9%, rgb(149, 149, 149) 49%, rgb(149, 149, 149) 51%, rgb(149, 149, 149) 51%, rgb(149, 149, 149) 54%, rgb(78, 78, 78) 89%, rgb(1, 1, 1) 100%, rgb(1, 1, 1) 100%, rgb(10, 10, 10) 100%, rgb(27, 27, 27) 100%);
}

.form{
  color:black;
  font-size: 1.5vw;
  display: inline-block;
}

#form1{
  color:black;
  width: 49%;
  
}

#form2{
  width: 49%;
}
.grupo{
  display: block;
}
.menuBarra{
  display: inline-block;
  margin-right: 2%;
}
#M  enup{
  background-color: #000a96;
}
nav {
  /* margin: 2%; */
  padding: 2%;
  font-size: 1.5vw;
  font-weight: bolder;
}

h1{
  font-size: 2.2vw;

}
.a{
  width: 10%;

}
textarea {
  width: 100%;
  height: auto;
  margin-bottom: 34%;
}
.text{
  width: 100%;
  height: auto; 
}