body{
    background-color: #000a96;
}
a {
    color: orange;
    }
    .example_extract {
    display:inline-block;
    width: 18%;
    height: 20%;
    margin: 1.39%;
    padding: 2%;
    opacity: 0.6;		
    border-radius: 2%;
    box-shadow: 3px 3px 10px rgb(109, 58, 58);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#010101+0,010101+0,010101+0,0d0d0d+1,383838+8,383838+8,383838+8,4e4e4e+9,4e4e4e+9,4e4e4e+9,959595+49,959595+51,959595+51,959595+54,4e4e4e+89,010101+100,010101+100,0a0a0a+100,1b1b1b+100 */
background: linear-gradient(to bottom,  rgb(1,1,1) 0%,rgb(1,1,1) 0%,rgb(1,1,1) 0%,rgb(13,13,13) 1%,rgb(56,56,56) 8%,rgb(56,56,56) 8%,rgb(56,56,56) 8%,rgb(78,78,78) 9%,rgb(78,78,78) 9%,rgb(78,78,78) 9%,rgb(149,149,149) 49%,rgb(149,149,149) 51%,rgb(149,149,149) 51%,rgb(149,149,149) 54%,rgb(78,78,78) 89%,rgb(1,1,1) 100%,rgb(1,1,1) 100%,rgb(10,10,10) 100%,rgb(27,27,27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
    #example_list {
    border: 1px solid #3e2f2d;
    margin: 20px;
    padding: 20px;
    }
    #menu-principal{
        color: rgb(0, 0, 0);
        background-color: #ccc;
        display:inline-block;
        width: 100%;
        height: 20%;
        opacity: 0.6;		
        box-shadow: 3px 3px 10px rgb(109, 58, 58);
        }
    nav{
        margin: 20px;
        padding: 20px;
    }
    footer
    {
        margin: 20px;
        padding: 20px;
    }
    video{
        width: 100%;
        height: 100%;
    }
    .boton_enviar {
        font-size: 20px;
        padding: 3px;
        margin: 30px;
        }
        .btn {
            background: #0016bd;
            background-image: -webkit-linear-gradient(top, #0016bd, #000a96);
            background-image: -moz-linear-gradient(top, #0016bd, #000a96);
            background-image: -ms-linear-gradient(top, #0016bd, #000a96);
            background-image: -o-linear-gradient(top, #0016bd, #000a96);
            background-image: linear-gradient(to bottom, #0016bd, #000a96);
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Georgia;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
          }
          
          .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
          }